.funding {
  background: linear-gradient(to bottom, $purple, $orange);
  overflow: hidden;

  &-text {
    font-size: $headline-sm;
    line-height: 1;
    margin-bottom: 5vh;
  }

  &-items {
    display: grid;
    list-style: none;
    margin: 5vh auto;
    padding: 0;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;

    li:nth-child(even) {
      --offset-y: 50%;
      // transform-origin: bottom left;

      &.active {
        --rotate: 4deg;
      }
    }

    li:nth-child(odd) {
      align-items: end;
      text-align: right;
      // transform-origin: bottom right;

      &.active {
        --rotate: -4deg;
      }
    }
  }

  &-item {
    display: flex;
    position: relative;
    border: 3px $white solid;
    border-radius: 2.5rem;
    padding: 2rem;
    font-size: clamp(1.5rem, 5.5vw, 2.25rem);
    font-weight: 900;
    aspect-ratio: 4 / 2;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
    transform: translateY(var(--offset-y, 0));

    &-text {
      display: block;
      line-height: 1;
      max-width: 10ch;
    }

    &-money {
      color: $black;
      font-size: 1.5rem;
      transform: translateY(100%);
      transition: 0.5s ease;
      opacity: 0;
      background: $yellow;
      width: fit-content;
      border-radius: 2rem;
      padding: 0 0.75rem;
      margin-top: 0.5rem;
    }

    img {
      position: absolute;
    }

    &.active {
      animation: FundingItem 1s;

      .funding-item-money {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  #Cleaning img {
    left: -38px;
    bottom: 13px;
    width: 277px;
  }

  #ParksAndRec img {
    right: -46px;
    bottom: 0;
    width: 216px;
  }

  #Five-O img {
    left: -86px;
    bottom: 20px;
    width: 301px;
  }

  #Transport img {
    right: -143px;
    bottom: 15px;
    width: 349px;
  }

  #Heritage img {
    left: 31px;
    bottom: 0;
    width: 138px;
  }

  #Meritxell img {
    right: -179px;
    bottom: 48px;
    width: 393px;
  }

  #Baywatch img {
    left: -37px;
    bottom: 0;
    width: 163px;
  }
}

@keyframes FundingItem {
  50% {
    background: $white;
    color: #d27a7f;
    box-shadow: 0 0 14px -5px $black;
    transform: rotate(var(--rotate, 0)) translateY(var(--offset-y, 0));
  }

  100% {
    background: transparent;
    color: $white;
    box-shadow: none;
    transform: translateY(var(--offset-y, 0));
  }
}

@include media-breakpoint-down(lg) {
  .funding {
    &-items {
      grid-template-columns: 1fr;
      max-width: 550px;

      li:nth-child(even) {
        --offset-y: 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .funding {
    #Cleaning img {
      width: 238px;
    }

    #ParksAndRec img {
      width: 161px;
    }

    #Five-O img {
      bottom: -22px;
      width: 268px;
    }

    #Heritage img {
      left: 22px;
      width: 102px;
    }

    #Transport img {
      right: -108px;
      bottom: -35px;
      width: 312px;
    }

    #Meritxell img {
      right: -204px;
      bottom: 23px;
      width: 377px;
    }

    #Baywatch img {
      left: -27px;
      width: 147px;
    }
  }
}
