$top-safe-area: 7rem;

.intro {
  background: linear-gradient(to bottom, $green, $turquoise);
  overflow: hidden;

  .main-container {
    z-index: 10;
    padding-top: $top-safe-area;
  }

  &-text {
    z-index: 20;

    &-content {
      display: block;
      font-size: $headline-lg;
      font-weight: 500;
      line-height: 1;
      margin-top: 20vh;
    }
  }

  &-postcard {
    z-index: 15;
    position: absolute;
    top: 0;

    img {
      border-radius: $postcard-radius;
      height: 75vh;
      width: 100%;
      object-fit: cover;
      transform: translate(200px, -100px) rotate(-1deg);
    }
  }

  &-plane {
    position: absolute;
    right: 5vw;
    bottom: 28vh;
    z-index: 25;

    &-scene {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      pointer-events: none;
    }

    img {
      width: calc(25rem + 8vw);
      height: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .intro-postcard img {
    transform: translate(120px, -100px) rotate(-1deg);
  }

  .intro-plane img {
    right: 4vw;
    width: 50vw;
    bottom: 45vh;
  }
}
