$top-safe-area: 7rem;

.intro {
  background: linear-gradient(to bottom, $green, $turquoise);
  overflow-x: hidden;
  padding: 0;

  .main-container {
    padding-top: $top-safe-area;
  }

  &-text {
    &-content {
      display: block;
      font-size: $headline-lg;
      font-weight: 500;
      line-height: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-75%);
      z-index: 10;
    }
  }

  &-postcard {
    position: absolute;
    left: 0;
    right: 0;

    img {
      border-radius: $postcard-radius;
      height: 75vh;
      width: 100%;
      object-fit: cover;
      transform: translate(200px, -100px) rotate(-1deg);
    }
  }

  &-plane {
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      right: 5vw;
      bottom: 28vh;
      width: calc(25rem + 8vw);
    }
  }
}

@include media-breakpoint-down(md) {
  .intro-postcard img {
    transform: translate(120px, -100px) rotate(-1deg);
  }

  .intro-plane img {
    right: 4vw;
    width: 50vw;
    bottom: 45vh;
  }
}
