.lie {
  background: linear-gradient(to bottom, $blue, $purple);

  &-text {
    font-size: $headline-xl;
    font-weight: 500;
    line-height: 1.1;
    max-width: 16ch;
  }

  &-text-content {
    display: block;
    margin-top: 6rem;
    font-size: $headline-sm;
    font-weight: 500;
    line-height: 1;
    max-width: 30ch;
  }

  &-text-animated {
    margin-top: 5rem;
    font-size: $headline-sm;
    font-weight: 500;
    line-height: 1;
  }

  &-graphs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 3rem;
  }

  &-marquee {
    margin-top: 3rem;
    background: $black;
    padding: 1rem;
    font-size: clamp(1.25rem, 1.5vw, 2rem);
    font-weight: 800;
    border-radius: 1.25rem;

    .city {
      color: $yellow;
      margin-right: 2rem;
    }

    .tax {
      color: $white;
    }
  }
}

@include media-breakpoint-down(md) {
  .lie-marquee {
    margin: 1.5rem -8rem;
    border-radius: 0;
  }
}
