.map {
  background: linear-gradient(to bottom, $turquoise, $blue);

  .container {
    margin-top: -25vh;
  }

  &-text {
    &-content {
      display: block;
      font-weight: 500;
      line-height: 1;
    }

    &-first {
      margin-bottom: 3rem;

      .map-text-content {
        font-size: $headline-sm;
      }
    }
  
    &-valencia {
      margin: 4rem 0 2.5rem;

      .map-text-content {
        font-size: $headline-lg;
      }
    }
  }
}
