.map {
  background: linear-gradient(to bottom, $turquoise, $blue);
  margin-top: -20vh;

  &-text {
    &-content {
      display: block;
      font-weight: 500;
      line-height: 0.9;
    }

    &-first {
      margin-bottom: 3rem;

      .map-text-content {
        font-size: $headline-sm;
      }
    }
  
    &-valencia {
      margin: 4rem 0 2.5rem;

      .map-text-content {
        font-size: $headline-lg;
      }
    }
  }
}
