.map {
  background: linear-gradient(to bottom, $turquoise, $blue);
  padding-left: 0;
  padding-right: 0;

  .shift {
    margin-top: -30vh;

    &-md {
      margin-top: -10vh;
    }
  }

  &-text {
    &-content {
      display: block;
      font-weight: 500;
      line-height: 1;
    }

    &-first {
      margin-bottom: 3rem;

      .map-text-content {
        font-size: $headline-sm;
      }
    }

    &-valencia {
      margin: 4rem 0 2.5rem;

      .map-text-content {
        font-size: $headline-lg;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .map {
    .container {
      margin-top: 0;
    }

    .shift {
      margin-top: -300px;
      overflow: hidden;
  
      &-md {
        margin-top: -50px;
      }
    }
  }
}
