.headline-sm {
  font-size: $headline-sm !important;
  line-height: 1 !important;
  max-width: 27ch;
}

.headline-lg {
  font-size: $headline-lg !important;
  line-height: 1 !important;
}

.headline-xl {
  font-size: $headline-xl !important;
  line-height: 1.1 !important;
}

.headline-2xl {
  font-size: $headline-2xl !important;
  line-height: 1.1 !important;
}
