/* Colors */
$white: #fff;
$black: #171717;
$green: #73C271;
$turquoise: #55C991;
$blue: #408DD4;
$purple: #C175D4;
$orange: #DE7B34;
$yellow: #F0BE0B;

/* Navbar */
$navbar-safe-area: 0;

/* Postcards */
$postcard-radius: 3rem;

/* Text sizes */
$text-md: 1.5rem;
$headline-sm: clamp(1.5rem, 2.5vw, 4.5rem);
$headline-lg: clamp(2rem, 3.5vw, 6.5rem);
